@import '../../../assets/styles/';

:host {
  $padding_header: 2rem;
  $padding_header_sm: 1rem;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: $header_height;
  justify-content: space-between;
  align-content: center;
  padding-left: $padding_header;
  padding-right: $padding_header;

  @media screen and (max-width: $breakpoint_sm) {
    padding-left: $padding_header_sm;
    padding-right: $padding_header_sm;
  }

  .title {
    color: $color_primary;
  }

  .title, .btn {
    display: inline-flex;
    align-items: center;
  }

  .btn {
    span {
      @media screen and (max-width: $breakpoint_sm) {
        display: none;
      }
    }
    &-next {
      &:after {
        content: '\003E';
        padding-left: 4px;
        font-size: 18px;
        transition: transform .250s ease-out;
        @media screen and (max-width: $breakpoint_sm) {
          padding-left: 0;
        }
      }
    }

    &-previous {
      &:hover {
        &:before {
          transform: translate3d(-5px, 0, 0);
        }
      }
      @media screen and (max-width: $breakpoint_sm) {
        &:hover {
          color: $color_primary;
          background-color: transparent;
          &:before {
            transform: none;
          }
        }
        &:focus, &:active {
          background-color: $color_primary;
          color: #ffffff;
        }
      }
      &[disabled] {
        &:hover, &:focus, &:active {
          background-color: transparent;
          color: $color_primary;
          &:before {
            transform: none;
          }
        }
      }
    }
    &-next {
      &:hover {
        &:after {
          transform: translate3d(5px, 0, 0);
        }
      }
      @media screen and (max-width: $breakpoint_sm) {
        &:hover {
          color: $color_primary;
          background-color: transparent;
          &:after {
            transform: none;
          }
        }
        &:focus, &:active {
          background-color: $color_primary;
          color: #ffffff;
        }
      }
      &[disabled] {
        &:hover, &:focus, &:active {
          background-color: transparent;
          color: $color_primary;
          &:after {
            transform: none;
          }
        }
      }
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
  }
}
