@import '../assets/styles/';

:host {
  display: grid;
  min-height: calc(100vh - #{$header_height + $footer_height});

  .container {
    min-height: inherit;
  }

  .row {
    min-height: inherit;
  }

}
