// COLORS
$color_light: #ffffff;
$color_purple: #443956;
$color_darkpurple: #0f0819;
$color_darkpurple-contrast: #694e8f;

$color_primary: $color_purple;

// MEDIA BREAKPOINTS
$breakpoint_xs: 360px;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1600px;

// HEADER
$header_height: 60px;

// footer
$footer_height: 40px;


